body{
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    font-family: Arial;
    color: white;
}

.container{
    width: 400px;
    margin: 120px auto;
    padding: 30px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
}

input{
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    border: none;
}

button{
    padding: 10px 20px;
    background: #00ffcc;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #00ccaa;
}

#resultBox{
    margin-top: 20px;
    font-size: 18px;
}
.safe{
    color: #00ff00;
}
.danger{
    color: red;
}
